@charset "utf-8";

body {
	background: #fbfbfb;
	font-size: 13px;
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
}

#container {
	width: 950px;
	min-height: 800px;
	border: 1px solid #000;
	margin: auto;
}

#header {
	height: 100px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#f2f2f2), color-stop(0%,#9b9b9b)); /* Chrome,Safari4+ */
}

#headercapitle {
	padding-left: 50px;
	padding-top: 25px;	
}

#content {
	min-height: 750px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#9b9b9b)); /* Chrome,Safari4+ */
}

#footer {
	clear: both;
	height: 50px;
	background: #5b5b5b;
	margin-top: -19px;
}

#footertext {
	padding-top: 10px;
}
	